@import "milligram";

.chat-heading {
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid;
}

.chat-area {
  padding-top: 60px;
  padding-bottom: 60px;
}

.chat-controls {
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  background-color: white;
}