<form method="POST" data-turbo="false">
  <label>
    <p>Username</p>
    <input name="username" id="username_input" value="" autocomplete="false" />
  </label>
  <div>
    <button type="submit">Join chat</button>
  </div>
</form>