<section class="container" id="hero">
  <div>
    <h1>Hanami Ephemeral Chat</h1>
    <p class="Hero__description">
      With this service you can create disposable chats, which contents are not stored anywhere - messages disappear as soon as they
      are delivered to all currently connected users.
    </p>
    <a href="/chat/<%= room %>"><button class="Button">Create new room</button></a>
  </div>
</section>